* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

/* NAVBAR */

.navbar-s {
    display: flex;
    flex-direction: column;
}

.top-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #2C2926;
    padding: 14px;

    h1 {
        font-size:16px ;
        color: #fff;
        font-weight: 400;
    }
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px ;
}

.nav-logo svg {
    height: 1.5rem;
    width: auto;
    fill: #FF4300;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color:#000 ;
    font-size:14px ;
    font-weight: 500;
    transition: all .3s;
}

.nav-links a:hover {
    color: #FF4300;
}

.nav-links a:last-child {
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all .3s;
}

.nav-links a:last-child:hover {
    background-color: #33312f;
}

.menu-icon {
    display: none;
}

.nav-links-block {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 25px;
    a{
        color: #fff;
        background-color: #2C2926;
        padding: 10px 20px;
        border-radius: 30px;
        transition: all .3s;
    }
}


/* HERO PAGE */

.hero {
    height: 900px;
    background: linear-gradient(rgba(0, 0, 0, 0.3)),
      url("/assets/images/hero_image.jpeg");
    background-position: center;
    background-size: cover;
    padding-top: 110px;
    padding-left: 160px;
  }
.hero-text {
    display: flex;
    flex-direction: column;
    gap: 260px;
}
.text-1{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.text-1 {
    color: #fff;
     h1 {
        font-size: 75px;
        font-weight: 700;
    }
    p {
        font-size: 20px;
        font-weight: 32px;
        width: 40%;
        font-weight: 500;
    }
    button  {
        background-color: #FF4300;
        padding: 18px 50px;
        border-radius: 30px;
        width: max-content;
        border: none;

        a {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.text-icon {
    display: flex;
    align-items: center;
    gap: 10px;

    h3 {
        font-size: 24px;
    }

    span {
        font-size: 20px;
        color: #b6b6b6;
    }
}

.text-2 p {
    color: white;
}
.text-inner {
    h1 {
        color: white;
    }
}

.text-2 {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.text-inner {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 30px;

    h1 {
        font-size: 45px;
        font-weight: 600;
    }
    h1:last-child {
        letter-spacing: 10px;
    }
}

.hero-2 {
    display: none;
}

/* OWNERSHIP */


.ownership {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem;
    overflow: hidden;
    gap: 50px;
}

.ownership .image-owner {
    width:60%;
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    color: #ff6933;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 785 231" fill="none"><path fill="currentColor" d="M0 206.735v21.955c0 1.01.82 1.829 1.83 1.829h781.34a1.83 1.83 0 0 0 1.83-1.829v-32.017a1.83 1.83 0 0 0-1.83-1.829h-49.772a1.83 1.83 0 0 1-1.83-1.83V75.229c0-.145-.017-.29-.052-.431l-2.443-10.07c-.433-1.786-2.932-1.89-3.513-.148l-1.911 5.729c-.538 1.612-2.793 1.684-3.431.108L710.62 46.75c-.592-1.46-2.629-1.539-3.333-.13L695.17 70.896c-.739 1.48-2.907 1.298-3.387-.286l-1.909-6.293c-.525-1.731-2.976-1.731-3.501 0l-3.165 10.434a1.836 1.836 0 0 0-.078.53v26.257a1.83 1.83 0 0 1-1.83 1.83h-95.714a1.83 1.83 0 0 1-1.83-1.83V75.281c0-.18-.026-.358-.078-.53l-3.165-10.434c-.525-1.731-2.976-1.731-3.501 0l-1.831 6.037c-.49 1.616-2.721 1.761-3.417.222l-10.81-23.897c-.648-1.434-2.685-1.434-3.333 0l-10.89 24.076c-.686 1.517-2.876 1.404-3.403-.175l-2.002-6c-.581-1.743-3.08-1.638-3.513.147l-2.443 10.07a1.792 1.792 0 0 0-.052.432v117.785a1.83 1.83 0 0 1-1.829 1.83H426.788a1.83 1.83 0 0 1-1.829-1.83V51.226a1.83 1.83 0 0 0-1.83-1.83h-12.32a1.83 1.83 0 0 1-1.83-1.829V35.676a1.83 1.83 0 0 0-1.829-1.83h-27.801a1.83 1.83 0 0 0-1.83 1.83v11.891a1.83 1.83 0 0 1-1.829 1.83h-11.322a1.83 1.83 0 0 0-1.83 1.83v103.825a1.83 1.83 0 0 1-1.829 1.829h-.836a1.83 1.83 0 0 1-1.829-1.829V4.116a1.83 1.83 0 0 0-1.83-1.83h-57.263c-1.01 0-1.83.82-1.83 1.83v156.148a1.83 1.83 0 0 1-1.687 1.824l-62.113 4.819a1.83 1.83 0 0 1-1.935-1.464L216.76 92.569a1.814 1.814 0 0 1-.036-.36V38.46c0-1.591-1.892-2.424-3.065-1.35l-2.833 2.596a1.83 1.83 0 0 0-.594 1.349v51.179c0 .104.009.208.027.31l12.615 73.167a1.83 1.83 0 0 1-1.661 2.135l-36.385 2.823a1.83 1.83 0 0 1-1.912-2.286l19.766-75.765a1.8 1.8 0 0 0 .06-.462V34.618c0-.493-.2-.966-.554-1.31l-4.331-4.215c-1.159-1.129-3.105-.307-3.105 1.31v61.744c0 .162-.022.323-.064.479l-21.071 77.693a1.828 1.828 0 0 1-1.625 1.345l-49.676 3.818a1.829 1.829 0 0 1-1.969-1.824V91.476a1.83 1.83 0 0 0-1.83-1.83h-28.3a1.83 1.83 0 0 1-1.83-1.83V76.73a1.83 1.83 0 0 0-.593-1.349l-10.797-9.89a1.83 1.83 0 0 1-.594-1.348v-35.41c0-.965-.783-1.748-1.748-1.748a1.748 1.748 0 0 1-1.748-1.747V1.498a1.498 1.498 0 1 0-2.996 0v23.99c0 .827-.67 1.497-1.498 1.497s-1.498.671-1.498 1.498v35.66a1.83 1.83 0 0 1-.594 1.349l-10.797 9.89a1.83 1.83 0 0 0-.594 1.348v11.087c0 1.01-.82 1.83-1.83 1.83H23.801c-1.01 0-1.829.818-1.829 1.829v81.413c0 1.011.82 1.83 1.83 1.83h2.333c1.01 0 1.83.819 1.83 1.829v2.745a1.83 1.83 0 0 1-1.83 1.829H23.8a1.83 1.83 0 0 0-1.829 1.83v20.124a1.83 1.83 0 0 1-1.83 1.83H1.83A1.83 1.83 0 0 0 0 206.735Z" style="fill: rgb(248, 244, 242);"/></svg>') no-repeat center top;
  }
  
.text-owner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;

    h1 {
        font-size: 50px;
        line-height: 52px;
        color: rgb(44, 41, 38);
        width: 70%;
    }
    span {
        color: #FF4300;
    }
    p {
        font-size: 16px;
        line-height: 28px;
        color: rgb(44, 41, 38);
        width: 85%;
    }

    button {
        border: none;
        background-color:#2C2926 ;
        padding: 15px 35px;
        color: #fff;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 600;
        width: max-content;
    }
}

.owner-img-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CUSTOMER SECTION */
.customers-2 {
    display: none;
}

.customers {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.customer-video {
    position: relative;
    width: 100%;
    height: auto;
}

.customer-video video {
    width: 100%;
    height: auto;
    display: block;
}

.customer-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.49);
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
    color: white;
    padding-left: 13rem;

    h1 {
        font-size: 45px;
        line-height: 52px;
        font-weight: 700;
        width: 25%;
        margin-bottom: 10px;
    }

    span {
        color: #FF4300;
    }

    p {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        width: 25%;
        margin-bottom: 25px;
    }

    button {
        background-color: #FF4300;
        color: white;
        padding: 13px 20px;
        font-size: 18px;
        font-weight: 600;
        border: none;
        width: max-content;
        border-radius: 30px;
    }

    i {
        font-size: 40px;
        color: #FF4300;
    }
}












@media (max-width: 900px) {

    /* navbar */

    .bottom-nav {
        padding: 30px 30px ;
    }

    .top-nav {
        display: none;
    }
    
    .nav-logo svg {
        height: 1.1rem;
    }

    .nav-links {
        display: none;
    }

    .nav-links-block {
        display: flex;
        img {
            width: 25px;
        }

        a {
            font-weight: 600;
        }
    }

    /* hero page */

    .hero {
        display: none;
    }

    .hero-2 {
        display: block;
    }

    .hero-text-2 {
        /* height: 515px; */
        padding: 60px 20px;
        background-color: #2C2926;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: ;
    }

    .text-1-2 {
        display: flex;
        flex-direction: column;
        gap: 25px;
        h1 {
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
        }

        p {
            font-size: 14px;
            line-height: 28px;
            font-weight: 600;
            width: 96%;
            margin: 0 auto;
        }

        button {
            background-color: #FF4300;
            font-size: 16px;
            font-weight: 600;
            padding: 15px 45px;
            border-radius: 30px;
            border: none;
            width: max-content;
            margin: 0 auto;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .text-icon-2 {
            display: flex;
            align-items: center;
            /* gap: 90px; */
            justify-content: center;
        
            h3 {
                font-size: 22px;
                font-weight: 600;
            }
        
            span {
                font-size: 18px;
                color: #b6b6b6;
            }
        }
    }

    .text-inner-2 {
        display: flex;
        align-items: center;
        gap: 60px;
        margin-top: 50px;
    
        h1 {
            font-size: 40px;
            font-weight: 500;
        }
        h1:last-child {
            letter-spacing: 10px;
        }
    }

    .hero-2-img {
        /* width: 100%; */
        height: 200px;
        background-color: rgba(0, 0, 0, 0.242);
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            inset: 0;
            z-index: -1;
            /* width: 100%; */
            /* height: auto; */
        }
    }

    /* ownership */

    .ownership {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        padding: 30px 25px;
    }

    .text-owner {
        width: 100%;
        gap: 25px;
        margin-bottom: 40px;
        h1 {
            font-size: 34px;
            font-weight: 600;
            line-height: 40px;
            width: 50%;
        }

        p {
            font-size: 15px;
            line-height: 25px;
            font-weight: 500;
            width: 79%;
        }
    }

    .image-owner {
        overflow-x: scroll;
        width: 100vw;
        background-color: #FF4300;

        img {
            width: 200px;
        }
    }

    .ownership .image-owner {
        width:100%;
    }

    /* customer section */
    .customers {
        display: none;
    }

    .customers-2{
        display: block;
        background-color: #2C2926;
    }
    
    .customer-video-2 {
        width: 100%;
        overflow: hidden;
        height: auto;

        video {
            width: 100%;
            
        }
    }

    .customer-text-2 {
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: #2C2926;

        h1 {
            font-size: 34px;
            line-height: 40px;
            font-weight: 700;
            width: 80%;
            color: white;
        }

        span {
            color: #FF4300;
        }

        p {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            width: 85%;
            color: white;
        }

        h6 {
            color: #838383;
            font-size: 12px;
            margin-bottom: 20px;
        }
    
        button {
            background-color: #FF4300;
            color: white;
            padding: 11px 18px;
            font-size: 16px;
            font-weight: 600;
            border: none;
            width: max-content;
            border-radius: 30px;
        }
    
        i {
            font-size: 40px;
            color: #FF4300;
        }        
    }
}